{% include 'common/header.html' %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Shopping Cart</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Unit price</th>
            <th scope="col">Number</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.product_name|truncatechars:40 }}</td>
            <td>{{ item.product_price }}</td>
            <td>{{ item.product_quantity }}</td>
            <td><a href="/order/remove_cart/{{item.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash">delete</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <h4 class="mr-3 mb-0">Total Price: ₹{{total_price}}</h4>&nbsp;&nbsp;&nbsp;
      <form action="/order/checkout/" method="POST">
        {% csrf_token %}
        {% if cart_items %}
        <button type="submit" class="btn btn-primary">checkout</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% include 'common/footer.html' %}
