{% include 'common/header.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>My Orders</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Unit price</th>
            <th scope="col">Number</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Shipping Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.product_name|truncatechars:40 }}</td>
            <td>{{ order.product_price }}</td>
            <td>{{ order.product_quantity }}</td>
            <td>{{ order.total_price }}</td>
            <td class="text-danger">Not shipped</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include 'common/footer.html' %}
