{% include 'common/header.html' %}
    <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h2 style="color:black">Product Details</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{{ detail.img_link }}" class="img-fluid" style="width: 380px" alt="...">
          </div>
          <div class="col-md-6">
            <h3 class="mb-3">{{ detail.name|truncatechars:20 }}</h3>
            <p><strong>Classification:</strong>{{ detail.category }}</p>
            <p><strong>Current price:</strong>{{ detail.price }}</p>
            <p><strong>Number of ratings:</strong>{{ review_count }}</p>
            <hr>
            <h4 class="mb-3">Product Details</h4>
            <p>{{ detail.name }}</p>
            <form method="post" action="/order/add_to_cart/">
              {% csrf_token %}
              <input type="hidden" name="product_id" value="{{ detail.id }}">
              <input type="hidden" name="product_name" value="{{ detail.name }}">
              <input type="hidden" name="product_price" value="{{ detail.price }}">
              <input type="hidden" name="product_quantity" value="1">
              <button type="submit" class="btn btn-primary mt-3">Add to cart</button>
            </form>
          </div>
      </div>
      <br>
      <div class="row">
        <h4 class="mb-3">Recommended products in the same category</h4>
        <div class="col-12">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {% for product in hotproducts %}
            <div class="col mb-4">
              <a href="/detail/{{ product.product_id }}">
                <div class="card p-2 hover-click">
                  <img src="{{ product.img_link }}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                  <div class="card-body">
                    <h5 class="card-title" style="color: #333;">{{ product.name|truncatechars:40 }}</h5>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-12">
            <h4 class="mb-3">Product Reviews</h4>
            {% for review in review %}
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">User:{{ review.user_id }}</h4><br>
                    <h6 class="card-subtitle mb-2 text-muted">Rat:&nbsp;{{ review.rating }} &nbsp;&nbsp; {{ review.create_time }}</h6> <br>
                    <p class="card-text">{{ review.content }}</p>
                </div>
            </div>
            {% empty %}
            <p>No comments at this time.</p>
            {% endfor %}
        </div>
    </div>
      </div>
      {% include 'common/footer.html' %}
</body>
</html>