{% include 'common/header.html' %}
    <div class="container">
        <div class="position-relative">
            <img src="https://plus.unsplash.com/premium_photo-1672883551968-dd15ceb7f802?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" class="d-block w-100" alt="Shopping" style="height: 400px; object-fit: cover;">
        </div>
        
        <br>
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Product recommendation</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {% for product in products %}
            <a href="/detail/{{ product.product_id }}">
                <div class="col">
                    <div class="card p-2 hover-click">
                        <img src="{{ product.img_link }}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #333;">{{ product.name|truncatechars:40 }}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}            
        </div>
        <br>

        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Product recommendation</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {% for mou_product in mou_products %}
            <a href="/detail/{{ mou_product.product_id }}">
                <div class="col">
                    <div class="card p-2 hover-click">
                        <img src="{{ mou_product.img_link }}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #333;">{{ mou_product.name|truncatechars:40 }}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}            
        </div>
        <br>

        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Product recommendation</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {% for el_product in el_products %}
            <a href="/detail/{{ el_product.product_id }}">
                <div class="col">
                    <div class="card p-2 hover-click">
                        <img src="{{ el_product.img_link }}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #333;">{{ el_product.name|truncatechars:40 }}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}            
        </div>
        <br>

        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Product recommendation</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {% for cook_product in cook_products %}
            <a href="/detail/{{ cook_product.product_id }}">
                <div class="col">
                    <div class="card p-2 hover-click">
                        <img src="{{ cook_product.img_link }}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #333;">{{ cook_product.name|truncatechars:40 }}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}            
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Hottest selling</h2>
            </div>
        </div>    
        <div class="row mt-4">
            {% for hotproduct in hotproducts %}
            <div class="col-md-2">
                <a href="/detail/{{ hotproduct.product_id }}" class="d-block">
                    <div class="card hover-click">
                        <img src="{{ hotproduct.img_link }}" class="card-img-top" alt="{{ hotproduct.name}}" style="width: 190px; height: 150px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ hotproduct.name|truncatechars:12 }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        
        <!-- 复制以上代码，根据需要更改商品名称和图片URL，创建其他4个商品卡片 -->
        </div>
    </div>
    {% include 'common/footer.html' %}
</body>

</html>
