<br>
<div id="about-us" class="container-fluid bg-light d-flex flex-column align-items-center justify-content-center py-5" style="height: 200px;">
    <h3 class="mb-4">About us</h3>
    <p class="text-center">Here is an introduction to us, where you can fill in a short description of the company or brand, its history, its mission and other information.</p>
    <p class="text-center">We are committed to providing high quality products and excellent service to make your shopping experience more enjoyable.</p>
    <p class="text-center">If you have any questions you can contact the developer at l.wang.22@abdn.ac.uk.</p>
</div>
